<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medicore"
        android:usesCleartextTraffic="true">

        <!-- Landing is the launcher screen -->
        <activity
            android:name="com.daclan.mobile.feature.landing.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth screens -->
        <activity android:name="com.daclan.mobile.feature.auth.LoginActivity"             android:exported="false"/>
        <activity android:name="com.daclan.mobile.feature.auth.RegisterChooseActivity"    android:exported="false"/>
        <activity android:name="com.daclan.mobile.feature.auth.RegisterPatientActivity"   android:exported="false"/>
        <activity android:name="com.daclan.mobile.feature.auth.RegisterDoctorActivity"    android:exported="false"/>
        <activity android:name="com.daclan.mobile.feature.auth.RegisterSecretaryActivity" android:exported="false"/>

        <!-- Role router — decides which dashboard to open -->
        <activity android:name="com.daclan.mobile.feature.dashboard.DashboardActivity"    android:exported="false"/>

        <activity
            android:name=".feature.patient.PatientDashboardActivity"
            android:exported="false" />


    </application>
</manifest>